@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.card {
    border-radius: 2;color: black;
    height: 250px;
    width: 170px;
    margin-top: 10%;
    padding-top: 10%;
    margin: auto;
    margin-top: 10px;
}
    
.icon.top {
    position: absolute;
    top: 0;
    margin-left: 5px;
}
.icon.bottom {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.miBoton {
    justify-content: center;
    display: flex;
    padding-top:2% ;
}